version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: donna_postgres
    restart: always
    environment:
      POSTGRES_USER: donna
      POSTGRES_PASSWORD: donna
      POSTGRES_DB: donna
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  postgres_data:
